/* ini css */
.logo-company {
    height: 50px;
    width: 50px;
    background-image: url(https://th.bing.com/th?id=OIP.8yFFDaFTGO81YfGHUjYLAQHaE9&w=305&h=204&c=8&rs=1&qlt=90&pcl=1b1a19&o=6&dpr=1.5&pid=3.1&rm=2);
    background-size: cover;
    border-radius: 50%;
 }